[submodule "pulp-sdk"]
	path = pulp-sdk
	url = https://github.com/pulp-platform/pulp-sdk.git
	ignore = dirty
[submodule "pulp-riscv-gnu-toolchain"]
	path = pulp-riscv-gnu-toolchain
	url = https://github.com/pulp-platform/pulp-riscv-gnu-toolchain.git
	ignore = dirty
[submodule "ov7670_with_cnn_open"]
	path = ov7670_with_cnn_open
	url = https://github.com/Peanut-JR/ov7670_with_cnn_open.git
	ignore = dirty
[submodule "zedboard_hdmi"]
	path = zedboard_hdmi
	url = https://github.com/Peanut-JR/zedboard_hdmi.git
